{% extends '__layout.twig' %}
{% import '__macros/html.twig' as html %}

{% block head %}
	<link rel="stylesheet" href="/css/datatables.min.css">
{% endblock %}

{% block scopesActive %}active{% endblock %}

{% block main %}

	{% include '__commons/success.twig' %}

	{{ html.header('Scopes', [
		html.actions([
			{href: '/admin/scopes/form', btn: 'btn-outline-primary', icon: 'plus', label: 'Add new scope'}
		])
	]) }}

	<table class="table table-hover align-middle">
		<thead>
			<tr>
				<th>Scope Name</th>
				<th>Identifier</th>
				<th width="1%"></th>
			</tr>
		</thead>
		<tbody>
			{% for scope in scopes %}
				<tr>
					<td>{{ scope.name }}</td>
					<td>{{ scope.identifier }}</td>
					<td>
						<div class="btn-group btn-group-sm">
							<a href="/admin/scopes/view/{{ scope.id }}" title="View scope details" class="btn btn-sm btn-outline-info">
								<span data-feather="search"></span>
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block script %}
	<script src="/js/datatables.min.js"></script>
	<script>
        (function () {
			$('table').DataTable()
		})()
	</script>
{% endblock %}
