{% extends '__layout.twig' %}
{% import '__macros/html.twig' as html %}

{% block clientsActive %}active{% endblock %}

{% block main %}

	{% include '__commons/success.twig' %}

	{% if clientSecret %}
		<div class="alert alert-warning alert-dismissible">
			Please save the new client secret: <strong>{{ clientSecret }}</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
	{% endif %}

	{{ html.header('Client details', [
		html.actions([
			{href: '/admin/clients', btn: 'btn-outline-secondary', icon: 'arrow-left', label: 'Back to list'},
			{href: '/admin/clients/form/'~client.id, btn: 'btn-outline-success', icon: 'edit', label: 'Edit'},
			{href: '/admin/clients/newsecret/'~client.id, btn: 'btn-outline-warning', icon: 'key', label: 'Generate new secret'},
			{href: '/admin/clients/delete/'~client.id, btn: 'btn-outline-danger', icon: 'trash-2', label: 'Delete'}
		])
	]) }}

	{% include 'clients/__details.twig' %}

{% endblock %}
